{
    "http_server": "http://localhost:8000",
    "ws_server": "ws://localhost:8000",
    "limits": {
        "motor_id_min": 0,
        "motor_id_max": 255,
        "motor_length_max": 8,
        "motor_position_min": 0,
        "motor_position_max": 600
    },
    "chart": {
        "max_data_points": 60,
        "yUnits": [
            "Position (mm)",
            "Velocity (rpm)",
            "Torque (Nm)"
        ]
    }
}