:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-bg: #f8f9fa;
  --main-color: #31708f;

  --notify-info-bg: #d9edf7;
  --notify-info-color: var(--main-color);
  --notify-success-bg: #dff0d8;
  --notify-success-color: #3c763d;
  --notify-warning-bg: #fcf8e3;
  --notify-warning-color: #8a6d3b;
  --notify-error-bg: #f2dede;
  --notify-error-color: #a94442;
}

a {
  font-weight: 500;
  color: #1a1a1a;
  text-decoration: inherit;
}

a:hover {
  color: #1a1a1a;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--main-color);
  background-color: var(--main-color);
  color: #f9f9f9;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  transition: border-color 0.25s;
}

input:hover {
  border-color: var(--main-color);
}

input:focus,
input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}