:root {
  --sans-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  --serif-font: Georgia, Cambria, "Times New Roman", Times, serif;
  --mono-font: "FiraCode Nerd Font", "Hack Nerd Font", Consolas, "Courier New",
    Courier, "Lucida Sans Typewriter", "Lucida Typewriter", Monaco, monospace;
  --emoji-font: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji", "Noto Emoji", sans-serif;

  font-family: var(--sans-font);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #3a537f;
  --primary-color-light: #cfddf4;

  --main-font-color-0: #1a1a1a;
  --main-black-color-0: #213547;
  --main-white-color-0: #fafafa;
  --main-white-color-1: #f3f3f3;
  --main-white-color-2: #e3e3e3;
  --main-white-color-3: #d3d3d3;
  --main-white-color-4: #c3c3c3;

  color: var(--main-black-color-0);
  background-color: var(--main-white-color-1);
  border-color: var(--main-white-color-2);

  --notify-info-bg: var(--primary-color-light);
  --notify-info-color: var(--primary-color);
  --notify-success-bg: #dff0d8;
  --notify-success-color: #3c763d;
  --notify-warning-bg: #fcf8e3;
  --notify-warning-color: #8a6d3b;
  --notify-error-bg: #f2dede;
  --notify-error-color: #a94442;

  --status-connecting: #f0ad4e;
  --status-connected: #5cb85c;
  --status-disconnecting: #f0ad4e;
  --status-disconnected: #d9534f;
}

a {
  font-weight: 500;
  color: var(--main-font-color-0);
  text-decoration: inherit;
}

a:hover {
  color: var(--main-font-color-0);
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  width: 190px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1.5px solid transparent;
  border-color: var(--main-white-color-2);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--main-white-color-0);
  cursor: pointer;
  transition: 0.25s;
}

button:hover {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: var(--main-white-color-0);
}

button:disabled,
button:disabled:hover {
  border-color: var(--main-white-color-2);
  background-color: var(--main-white-color-0);
  color: var(--main-white-color-4);
  cursor: not-allowed;
}

button:focus,
button:focus-visible,
input:focus,
input:focus-visible {
  outline: 4px auto var(--primary-color);
}

input {
  border-radius: 8px;
  border: 1.5px solid transparent;
  border-color: var(--main-white-color-2);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: var(--main-white-color-0);
  transition: 0.25s;
}

input:hover {
  border-color: var(--primary-color);
}

#app {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
